*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }






.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container{
  width:100%;
  position: relative;
  
}


body{
  padding-top: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 10px;
  padding-bottom: 5px;
}

.topinfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logoside{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.headlink{
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  
}


.headlink,a{
  text-decoration: none;
  color: black;

}

.logo{
  border-radius: 50%;
  background-color: white;
  /* width:%; */
}

.imgfont{
  border-radius: 50%;
}

.searchbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 2px #ecebeba2;
  padding: 10px;
  width: 60%;
  border-radius: 3px;

}

.searchbar input{
  background-color: white;
  color: black;
  border: none;
  outline: none;
  
}


.searchbar button{
  background-color: transparent;
  color: black;
}
.srchbtn{
  padding: 10px;
  background-color: palevioletred;
  border: none;
  font-size: 20px;
  color: white;
}


#menu{
  font-size: 40px;
  /* width:%; */
  color: black;
}



.num{
  display: flex;
  gap: 10px;
}

.email{
  gap: 10px;
}

.chartnum{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  gap: 15px;
  font-size: 15px;
  /* background-color: black;  */
  /* color: white; */
  padding: 7px;
  border-radius: 3px;
  /* width: 15%; */
}

.coun{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: palevioletred;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 2px #ecebeba2;
}
#shownumber{
  font-size: 20px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
width:100%;
  position: relative;
  margin: auto;
  padding: 4rem;
  /* flex-wrap: wrap; */
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* flex-wrap: wrap; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 3rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* .secondbox{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
} */

.secondone{
  width: 50%;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.secondtext{
  width: 100%;
}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  overflow-x: hidden;
  transition: 0.9s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #e0a0a0;
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* .navbar {
  overflow: hidden;
  background-color:black;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
} */

/* .bottomlist{
  display:flex;
  text-align: center;
  justify-content: center;
  padding: 14px 16px;
  color: palevioletred;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
} */

/* .navbar a:hover {
  background: #ddd;
  color: black;
} */



.features{
  width: 100%;
}
.fit{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 50%;
  padding: 15px;
  font-family: Arial, Helvetica;
}
.fit h2{
  color: rgb(73, 70, 70);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}
.fit select{
  border: none;
  font-size: 15px;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menufirsticon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 40px;
  color: black;
}


.menufirsticon a{
  font-size: 3rem;
}
.menutextlist{
  display:grid;
  font-size: 1.2rem;
  font-family: Arial, Helvetica;
  gap: 1rem;
}

.clo{
  display: none;
  padding: 20px;
  overflow-x: hidden;
  transition: 0.9s;
}
.show {display:block;
  padding: 20px;
  overflow-x: hidden;
  transition: 0.9s;
}


.boxcolor{
  display: flex;
  align-items: center;
  gap: 10px;
}
.boxcolor button{
  border-radius: 50%;
  width: 10%;
  padding: 5px;
  
}


.onGod{
  display: flex;
  /* align-items: center;
  justify-content: center;  */
  /* flex-wrap: wrap; */
  /* width:100%; */
  overflow: auto;
  white-space: nowrap;
  gap: 30px;
  /* height: 500px; */

  /* background-color: rgb(173, 154, 154); */
padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 4rem;
  /* background-color: seashell;  */

}

.stock{
  /* width:100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  white-space: nowrap;
  overflow: auto;

}
.onGod2{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  width:100%;
  overflow: auto;
  /* white-space: nowrap; */
  gap: 10px;
  height: 800px;

  /* background-color: rgb(173, 154, 154); */
padding-top: 10px;
  padding-bottom: 20px;
  /* padding-left: 4rem; */
  /* background-color: seashell;  */

}

.stock2{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}


.limit{

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  
}


.limit ion-icon {
  font-size: 3rem;
}

.limit h1{
  font-size: 12px;
  background-color: black;
  color: white;
}


.boximg a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  font-weight: 700;
  width: 80%;
  background-color: white;
  padding: 1px;
  padding-left: 10px;
  /* border-radius: 30px; */

}

.boximg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: #f0f0f073;
  box-shadow: 2px 5px 20px 20px rgb(255, 254, 254);
}

.imgbox{
  width: 80%;
  padding: 40px;
  color: black;
  /* background-color: snow; */
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
  /* z-index: 99; */
}



.imgbox2{
  width: 200px;
  padding: 5px;
  color: black;
  /* background-color: snow; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
  /* z-index: 99; */
  border-radius: 5px;
}


/* .boximg:hover{
  box-shadow: 1px 1px 10px 2px #d13636a2;
} */
/* .imgbox2:hover{
  box-shadow: 1px 1px 10px 2px #d8a5a5a2;
} */
.imgbox p{
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.imgbox img{
  width:200;
}



.imgbox image:active{
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


.stars{
  display: flex;
  gap: 5px;
  font-size: 10px;
}


.cusbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cusbtn a{
  background-color: rgb(65, 65, 92);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  display: flex;
  text-align: center;
}


.cusbtn button{
  color: black;
  /* padding: 10px; */
  border: none;
  outline: none;
  /* border-radius: 5px; */
  font-size: 40px;
  background-color: transparent;
}




.cusbtn button:active{
   color: red;
}
/* option:hover{
  background-color: black;
  color: white;
  border-radius: 5px;
} */




.bu1{
  background-image: url(Screenshot\ 2025-01-01\ 191746.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  bottom: 0;
  box-shadow: 1px 1px 10px 2px #ecebeba2;
  z-index: 2;
  border-radius: 5px;
  gap: 8px;
  transition: 5s ease-in;
}
.bu2{
  background-image: url(Screenshot\ 2025-01-01\ 191716.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  bottom: 0;
  box-shadow: 1px 1px 10px 2px #ecebeba2;
  z-index: 2;
  border-radius: 5px;
  gap: 8px;
  transition: 5s ease-in;
}



.bu1:hover{
  backdrop-filter: blur(80rem);
}

.bu2:hover{
  backdrop-filter: blur(80rem);
}


.bu1 a:hover{
  background-color: white;
  border: none;
  outline: none;
  color: rgb(65, 65, 92);
}

.bu2 a:hover{
  background-color: white;
  border: none;
  outline: none;
  color: rgb(65, 65, 92);
}



.bu1 a{
  background-color: rgb(65, 65, 92);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}


.bu2 a{
  background-color: rgb(65, 65, 92);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}


.bueautyimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  gap: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fool1{
  width: 100%;
}

.fool2{
  width: 100%;
}
.bu1 h1{
  font-size: 4rem;
  font-weight: 100;
}
.bu1 h6{
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bu1 span{
  color: blueviolet;
}


.bu2 h1{
  font-size: 4rem;
  font-weight: 100;
}
.bu2 h6{
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bu2 span{
  color:rgb(8, 180, 8);
}


 .fistbatch{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:50px;
  padding: 10px;
  width: 100%;

 }

.secondbatch{
  width: 100%;
  padding: 10px;
  display: flex;
  color: #ece5e5;

}




.forthbatch{
  width: 100%;
  padding: 10px;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forthbatch label{
  font-size: 1rem;

}

.forthbatch input{
  padding: 15px;
  font-size: 12px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: orangered;
}


.emailbtnnnnn{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.forthbatch button{
  padding: 15px;
  font-size: 12px;
  width: 30%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: orangered;
  color: white;
}

 .footer{
  /* background-color: rgb(126, 38, 67); */
  color: white;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  min-width: 100%;
  z-index: 9;
 }



 .adsimgs{
  background-image: url(Screenshot\ 2025-01-01\ 191716.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 495px;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: end;
  flex-direction: column;
  bottom: 10px;
  left: 0;
  padding-bottom: 7rem;
  padding-left: 1rem;
 }


 .adsimgs h1{
  color: white;
  font-size: 4rem;
  font-weight: 100;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-delay: 5s;
  transition: 5s ease-out;
  transform: scale(2.0px);
 }

/* 
 @keyframes example {
  10% {top:0px;}
  100% {bottom:160px;}
} */

 .adsimgs button{
  padding: 20px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 40%;
 }



 /* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1.154;
  --c: #0000 ,rgb(238, 52, 198) 2deg 59deg,#0000 61deg;
  --c1:conic-gradient(from 149deg at top   ,var(--c));
  --c2:conic-gradient(from -31deg at bottom,var(--c));
  background:
    var(--c1) top,
    var(--c1) bottom right,
    var(--c2) bottom,
    var(--c1) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: l37 1s infinite;
}
@keyframes l37 {
  80%,100%{background-position: bottom right,bottom left,bottom,top}
}

#firsthpage{
  position: absolute;
  width: 100%;
  z-index: 13;
  height: 700px;
  background-color: white;
}


.containe3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;  
  /* text-align: center; */
  /* gap: 2rem; */
  padding-top: 2.5rem;
}

.icontext{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2.5rem;
}



.btnform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  gap: 1rem;
  padding-bottom: 2.5rem;
 
}

form{
  width: 90%;
}

input{
  border: 1px solid gainsboro;
  border-radius: 5px;
  outline: none;
  /* border: none; */
}

/* .icontext ion-icon{
  font-size: 15px;
} */



p{
  font-family:serif;
  width: 95%;
  text-align: center;
  color: #717171;
}




h1{
  width: 100%;
  text-align: center;
  font-weight: 100;
}


#usernamebtndeis{

  /* padding: 15px; */
  width: 30%;
  font-size: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(27, 212, 27);
  color: white;
  /* position:relative; */
  border-radius: 5px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
  padding: 15px;
  width: 40%;
  font-size: 15px;
  border: none;
  outline: none;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(27, 212, 27);
  color: white;
  border-radius: 5px;
  /* visibility: hidden; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.containe4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;  
  text-align: center;
  gap:2rem;
  padding-top: 2.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

form{
  display: grid;
  gap: 15px;
}



















/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #48139e;
  --_m: 
    conic-gradient(#36388300 10%,#0e3dd4),
    linear-gradient(#274d9e 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}



